node_modules
vendor
.vs
!public/.vscode/tasks.json
.idea
debug
public/dist/bundle.js
public/dist/bundle.js.map
tunnel.1.sh
./quickfeed
ag-setup.sh
ag.db
meling.sh
cyclone.sh
docs
ag.logs
ag.log*
startag.sh
backups
misc/ag-env.sh
tmp.db
ag-test.db
qf-env.sh
