[Unit]
Description=Quickfeed daemon
After=network.target

[Service]
Environment="QUICKFEED_HOME={{ quickfeed_root }}"
ExecStart= {{ quickfeed_bin }}/quickfeed -service.url {{ quickfeed_endpoint }} -database.file {{ quickfeed_root }}/ag.db -grpc.addr {{ grpc_addr }} -http.addr {{ http_addr }} -http.public {{ quickfeed_ui_root }}
PIDFile=/var/lib/quickfeed/quickfeed.pid
User={{ quickfeed_user }}
Group={{ quickfeed_group }}
Restart=always
RestartSec=5s
ProtectSystem=full

[Install]
WantedBy=multi-user.target