.hint {
    font-size: medium;
    color: gray;
}
.dropdown-menu {
    top: initial;
    left: initial;
}

.table-hover>tbody>tr:hover {
    background-color: #D2D2D2;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.nav-sub>li>span,
.nav-list>li>span {
    position: relative;
    display: block;
    padding: 5px 15px;
}

.nav-sub>li>span.header,
.nav-list>li>span.header {
    background-color: #f6f6f6;
}

.nav-sub>li>a,
.nav-sub>li>span {
    padding-left: 40px;
}

.nav-list>li.active>a {
    color: #fff;
    background-color: #337ab7;
}

.nav-sub>li:nth-child(n+1) {
    border-top: 1px solid #DDDDDD;
}

.nav-list>li:nth-child(n+2) {
    border-top: 1px solid #DDDDDD;
}

.nav-sub>li.active>a {
    color: #fff;
    background-color: #95b1c9;
}

.nav-box {
    background: white;
    border: 1px solid #DDDDDD;
    display: block;
    position: absolute;
    z-index: 10000;
    width: 150px;
    left: -114px;
}

.topinfo{
    /*text-align: center;*/
    padding: 13px 15px;
    margin: 0 20% 0 20%;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width: 992px){
    .topinfo{
        margin: 0 0 0 0;
    }
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 100000;
    text-align: center;
    vertical-align: middle;
}

.overlay div svg {
    vertical-align: middle;
}

.overlay div {
    display: inline-block;
    animation: rotation 1s linear infinite;
}

.overlay.hidden {
    display: none;
}

.correcter {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
/* Organization styles */
.organisationWrap {
    padding: 15px;
}

.organisationWrap .organisationBtnGroup {
    max-width: 800px;
    margin: auto;
}

.organisationWrap .organisationBtnGroup .organisation {
    padding: 45px;
    box-shadow: none;
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
}

.organisationWrap .organisationBtnGroup .organisation.active {
    outline: none !important;
}

.organisationWrap .organisationBtnGroup .organisation.active {
    border-color: #337AB7;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.organisationWrap .organisationBtnGroup .organisation .organisationInfo {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: all 0.5s;
}
.organisationWrap .organisationBtnGroup .organisation .organisationInfo .caption {
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.organisationWrap .organisationBtnGroup .organisation:hover {
    border-color: #337AB7;
    outline: none !important;
}
/* Organization styles END */

.student-group {
    max-height: 200px;
    overflow-y: auto;
}

.profileElement {
    width: 150px;
    padding: 10px;
    display: inline-block;
}

.field-box {
    padding: 3px;
}

.field-box b {
    display: block;
}

.navbar.spacefix {
    margin-bottom: 0px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row.spacefix {
    margin-top: 10px;
}
.social-login {
    margin-top: -4px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
}

.navbar-inverse {
    background-image: none;
    border-radius: 0px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.featurette-divider {
    margin: 80px 0;
}

.btn{
    background-image: none;
}

.approved-cell {
    background-color: #dff0d8;
}

.glyphicon-remove {
    color: #601203;
}

.glyphicon-ok {
    color: #087d2a; 
}

.orgform {
    float: right;
}

#form-header {
    text-align: left;
    display: inline-block;
    float: none;
}

#form-button {
    display: inline-block;
    margin: auto;
    float: none;
}

.lab-btn {
    display: inline-block;
    flex: 1;
}

.approve-btn {
    float: left;
}

.rebuild-btn {
    float: right;
}

.past-deadline {
    color: red;
    font-weight: 300;
}

.addon-mini {
    min-width: 70px;
    text-align: left;
}

#message {
    font-size: 75%;
}

.load-text {
    width: 100px;
    height: 100px;
        
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.info {
    width: 30%;;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 20%;
    margin: auto;
}

/* loader shown while waiting for data being fetched from the server */

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(10, 53, 66);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
