
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.navigator {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #222;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: #d4d4d4;
    font-weight: bold;
}

.SidebarList {
    width: 100%;
    height: auto; 
    padding: 0;
    
}

.SidebarList li {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SidebarList li a { 
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%;
    color: #d4d4d4;
}
.SidebarList li span { 
    margin: 0px; 
    display: inline-block; 
    text-align: center;
    width: 100%; 
    height: 100%;
    color: #d4d4d4;

}

.SidebarList .inactive {
    display: none;
}

#title {
    margin-left: 10px;
}

.SidebarList .activelabs {
    display: block;
    background-color: rgb(50, 50, 50);
}

.SidebarList .active {
    display: flex;
    background-color: rgb(39, 39, 39);
}

.SidebarList li img {
    width: 30px;
    border-radius: 50%;
}

.SidebarList li:hover {
    background-color: rgb(20, 20, 20);
}

.SidebarList #avatar {
    width: 30px;
    margin-right: 20px;
    margin-left: 5px;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}
.logo a{
    padding-top: 10px;
}

#content {
    margin-left: 350px;
    margin-right: 100px;
    width: 100%;
}

body {
    margin: 0px;
}

.dark {
    background-color: rgb(46, 45, 45);
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.login {

    padding: 15px;
    text-decoration: none;
    line-height: 20px;
    display: block;
    width: 200px;
}

a {
    color: #9d9d9d;
    font-weight: bold;
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #7a7a7a;
}

input{
    color: black;
}

#github {
    line-height: 20px;
}

.theme {
    
    display: block;
    padding: 15px;
}

.box {
    margin-top: 50px;
}

.logs {
    padding: 2px 4px;
    background-color: #f9f2f4;
}

.Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    
}

.Links a {
    background-color: #337ab7;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex: 24%;
    height: 50px;
    text-align: center;
    margin: 1%;

    
}

.Links a:hover {
    background-color: #296fac;
}

#LandingPageTable thead tr {
    background-color: #337ab7;
    color: white;


}

#LandingPageTable tbody .dark td {
    border-bottom: 1px solid black ;
}

#LandingPageTable tbody .light:nth-child(even) {
    background-color: #e0ebf1;
}

#LandingPageTable tbody .dark:nth-child(even) {
    background-color: #222;
}

#LandingPageTable .APPROVED {
    color: green;
}

.jumbotron {
    height: 200px;
    margin-top: -50px;
    margin-right: -100px;
    margin-left: -100px;

}

.row {
    padding: 40px 0;

}
.favorite-row{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#star-fill{
    color: yellow
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}  

.icon {
    transition-duration: 0.5s;
}
