.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.navigator {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #222;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    text-decoration: none;
    float: left;
}

.navigator-item {
    padding: 15px;
    display: inline-block;
}

body {
    margin: 0px;
}

.dark {
    background-color: rgb(46, 45, 45);
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.login {
    float: right;
    padding: 15px;
    text-decoration: none;
    line-height: 20px;
}

a {
    color: #9d9d9d;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #7a7a7a;
}

input{
    color: black;
}

#github {
    line-height: 20px;
}

.theme {
    
    display: inline-block;
    padding: 15px;
}

.box {
    margin-top: 50px;
}

.logs {
    padding: 2px 4px;
    background-color: #f9f2f4;
}

#LandingPageTable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 75%;
    margin: auto;
}

#LandingPageTable td, #LandingPageTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#LandingPageTable tr:hover {opacity: 70%;}

#LandingPageTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
#themeButton{
    cursor: pointer;
}