.hint {
    font-size: medium;
    color: gray;
}
.dropdown-menu {
    top: initial;
    left: initial;
}

.table-hover>tbody>tr:hover {
    background-color: #D2D2D2;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.nav-sub>li>span,
.nav-list>li>span {
    position: relative;
    display: block;
    padding: 5px 15px;
}

.nav-sub>li>span.header,
.nav-list>li>span.header {
    background-color: #f6f6f6;
}

.nav-sub>li>a,
.nav-sub>li>span {
    padding-left: 40px;
}

.nav-list>li.active>a {
    color: #fff;
    background-color: #337ab7;
}

.nav-sub>li:nth-child(n+1) {
    border-top: 1px solid #DDDDDD;
}

.nav-list>li:nth-child(n+2) {
    border-top: 1px solid #DDDDDD;
}

.nav-sub>li.active>a {
    color: #fff;
    background-color: #95b1c9;
}

.nav-box {
    background: white;
    border: 1px solid #DDDDDD;
    display: block;
    position: absolute;
    z-index: 10000;
    width: 150px;
    left: -114px;
}

.topinfo{
    /*text-align: center;*/
    padding: 13px 15px;
    margin: -20px 20% 0 20%;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width: 992px){
    .topinfo{
        margin: -20px 0 0 0;
    }
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 100000;
    text-align: center;
    vertical-align: middle;
}

.overlay div svg {
    vertical-align: middle;
}

.overlay div {
    display: inline-block;
    animation: rotation 1s linear infinite;
}

.overlay.hidden {
    display: none;
}

.correcter {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
/* Organization styles */
.organisationWrap {
    padding: 15px;
}

.organisationWrap .organisationBtnGroup {
    max-width: 800px;
    margin: auto;
}

.organisationWrap .organisationBtnGroup .organisation {
    padding: 45px;
    box-shadow: none;
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
}

.organisationWrap .organisationBtnGroup .organisation.active {
    outline: none !important;
}

.organisationWrap .organisationBtnGroup .organisation.active {
    border-color: #337AB7;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.organisationWrap .organisationBtnGroup .organisation .organisationInfo {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: all 0.5s;
}
.organisationWrap .organisationBtnGroup .organisation .organisationInfo .caption {
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.organisationWrap .organisationBtnGroup .organisation:hover {
    border-color: #337AB7;
    outline: none !important;
}
/* Organization styles END */

.student-group {
    max-height: 200px;
    overflow-y: auto;
}

.profileElement {
    width: 150px;
    padding: 10px;
    display: inline-block;
}

.field-box {
    padding: 3px;
}

.field-box b {
    display: block;
}

.navbar.spacefix {
    margin-bottom: 0px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row.spacefix {
    margin-top: 10px;
}