#image/golang:1.8.3
echo "\n\n==Start_CI==\n"
git config --global url."https://{{ .AccessToken }}:x-oauth-basic@github.com/".insteadOf "https://github.com/"
# go get "{{ .GetURL }}"
# cd "$GOPATH/src/{{ .GetURL }}"
# go test -v
MD="merge"     # Merged Dir
UD="user-dir"  # User Dir
TD="test-dir"  # Test Dir
rm -rf $MD
mkdir $MD
go get {{ .RawGetURL }}
go get {{ .RawTestURL }}
rm $(find $GOPATH/src/{{ .RawGetURL }}/ | grep _ag_test.go)
cp -r $GOPATH/src/{{ .RawTestURL }}/* $GOPATH/src/{{ .RawGetURL }}/
cp -r $GOPATH/src/{{ .RawGetURL }}/ $GOPATH/src/{{ .RawGetURL }}/../labs/
cd $GOPATH/src/{{ .RawGetURL }}/../labs
cd "{{ .AssignmentName }}"
# find # Could be readded for debugging the Internal of the CI files
echo "Setup done"
#go test -v
go test -v -run .*AG
echo "\n==DONE_CI==\n"