
:root {
    // Height of the navbar
    --navbar-height: 76px;
}


.wrapper {
    padding-top: var(--navbar-height);
    display: flex;
    width: 100%;
    align-items: stretch;
}

.navigator {

    &.hidden {
        transform: translateX(-100%);
    }

    position: fixed;
    top: var(--navbar-height);
    transition: transform ease-in-out 0.2s;
    transform: translateX(0);
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #222;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: #d4d4d4;
    font-weight: bold;
    overflow-y: scroll;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.navigator::-webkit-scrollbar {
    display: none;
}

.sidebarList {
    width: 100%;
    height: auto;
    padding: 0 !important; // override bootstrap
    margin: 0 !important; // override bootstrap

    li {
        width: 100%;
        height: 60px;
        list-style-type: none;
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgb(20, 20, 20);
        }

        a {
            width: 100%;
            height: 100%;
            display: block;
            color: #d4d4d4;
        }

        span {
            margin: 0px;
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 100%;
            color: #d4d4d4;
        }

        img {
            width: 30px;
            border-radius: 50%;
        }
    }

    .inactive {
        display: none;
    }

    .active {
        display: flex;
        background-color: rgb(39, 39, 39);
    }

    .activelab {
        display: block;
        background-color: rgb(50, 50, 50);
    }

}

#avatar {
    width: 30px;
}

.sidebarFooter {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
}

.sidebar-items-link {
    text-align: center;
    line-height: 60px;
}

#title {
    margin-left: 10px;
}

.card-body {
    color: black;
}

.centered {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.logo {
    text-decoration: none;
    font-size: 24px;
    text-align: center;

    a {
        padding-top: 10px;
    }
}

#content {
    transition: margin-left ease-in-out 0.2s;
    margin-left: 350px;
    margin-right: 100px;
    width: 100%;
}

#content-full {
    transition: margin-left ease-in-out 0.2s;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
}

body {
    margin: 0px;
}

a {
    color: #9d9d9d;
    font-weight: bold;
    display: inline-block;

    &:hover {
        color: #7a7a7a;
    }

    &:link {
        text-decoration: none;
    }
}

input {
    color: black;
}

#github {
    line-height: 20px;
}

.box {
    margin-top: 30px;
}

#LandingPageTable thead tr {
    background-color: #343a40;
    color: white;
}

#LandingPageTable tbody .dark td {
    border-bottom: 1px solid black;
}

#LandingPageTable tbody .light:nth-child(even) {
    background-color: #e0ebf1;
}

#LandingPageTable tbody .dark:nth-child(even) {
    background-color: #222;
}

#LandingPageTable tbody tr {
    cursor: pointer;
}

.jumbotron {
    margin-right: -100px;
    margin-left: -100px;
}

.course-card-row {
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.fa-star,
.fa-star-o {
    color: yellow;
    text-shadow: 0 0 3px #000;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.icon {
    transition-duration: 0.5s;
}

.float-down-left {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.overflow-ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.reviewTable {
    flex: 20;
}

.reviewLab {
    position: sticky;
    top: 100px;
    min-width: 50%;
    height: 90vh;
}

.reviewLabResult {
    overflow: scroll;
    overflow-y: scroll;
    height: 90vh;
}

.pending-review {
    box-shadow: inset 0 0 4px 2px #626280;
}

#group-image {
    width: 23px;
    margin-right: 10px;
    border-radius: 50%;
}

.about {
    width: 100%;
}

.redirectButton {
    position: absolute;
    top: 120px;
    transform: translateX(-70px);
}

.result-approved {
    background-color: #ccffcc;
    cursor: pointer;
}

.result-rejected {
    background-color: #ffcccc;
    cursor: pointer;
}

.result-revision {
    background-color: #ffffcc;
    cursor: pointer;
}

.selected {
    background-color: #007bff;
    color: white;
}

.release {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, green 5px 0px 0px inset;
}

.course-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.25rem;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: none;
}

.alert {
    z-index: 999;
}

.bg-secondary {
    background: rgb(221, 223, 226) !important;
    color: slategrey;
}

.table td {
    padding: 0.5rem !important;
}

.table th {
    padding: 0.5rem !important;
}

.passed {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, green 5px 0px 0px inset;
}

.failed {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, red 5px 0px 0px inset;
}

.not-graded {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, rgba(0, 0, 0, 0.2) 5px 0px 0px inset;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.width-resize {
    min-width: 150px;
}
.navbar-top {
    background-color: #222;
    height: var(--navbar-height);

    .nav-child {

        &.brand {
            display: flex;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            width: 15rem;
            & > * {
                margin-right: 0.5rem;
            }

            .hamburger {
                min-width: 30px;
                transition: color 0.2s ease-in-out;
                text-align: center;
                &.closed {
                    color: #d4d4d4;

                }

                &.open {
                    color: #28a745;
                }
            }
        }

        &.course {
            font-size: 1.2rem;
            display: flex;

            &::before {
                color: green;
                content:  remove-where();
            }

            & > * {
                margin-right: 0.5rem;
                align-self: center;
            }


        }
    }
}


    .navbar  {
        .nav-item {
            &:hover .dropdown-menu {
                display: block;
            }
            .dropdown-menu {
                display: none;
                margin-top: 0;
            }
        }
    }

@media only screen and (max-width: 980px) {
    .width-resize {
        width: 350px;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .lab-resize {
        padding-top: 15px;
    }
}


nav.flexbox {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
        padding: 0.3rem;
        margin: 0.3rem;
    }
}

.flex-user {
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    min-width: 36px;
    height: 24px;
    margin-bottom: 0;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #28a745;

            & .toggle {
                -webkit-transform: translateX(13px);
                -ms-transform: translateX(13px);
                transform: translateX(13px);
            }
        }

        &:not(:checked) + .slider {
            color: #007bff;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        .toggle {
            font-family: "FontAwesome";
            font-size: 12px;
            position: absolute;
            content: "\f19d";
            text-align: center;
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    .slider.round {
        border-radius: 34px;

        box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5) inset;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5) inset;

        & .toggle {
            border-radius: 50%;
        }
    }
  }


.course-card {
    max-width: 30rem;
    min-width: 30rem;
    margin-bottom: 10px !important; // override bootstrap margin of 0
    min-height: 205px;
}

.comment {
    // all children links should be white
    a {
        color: red;
        &:hover {
            text-decoration: underline
        }
    }
    background-color: #f7f7f9;
    height: 100%;

    td {
        position: relative;
        padding: 1rem;
        border-bottom: 1px solid #eaeaea;
    }
    td::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 0%;
        display: block;
        top: 0;
        left: 0;

        background-color: rgba(0,0,0,0.1);
        
        // transition height on hover
        transition: height 0.2s ease-in-out;
    }

    &.comment-passed{
        // green
        td::before {
            background-color: rgba(0, 128, 0, 0.3) ;
        }
    }

    &.comment-failed{
        // red
        td::before {
            background-color: rgba(255, 0, 0, 0.3);
        }
    }

    &.comment-not-graded{
        // grey
        td::before {
            background-color: rgba(128, 128, 128, 0.3);
        }
    }

    @media only screen and (max-width: 980px) {
        td::before {
            height: 50%;
        }
    }

    td:hover::before {
        height: 50%;
    }

    p {
        margin: 0;
    }

    .comment-md {
        padding: 1rem;
    }

    &.hidden {
        display: none;
    }
}
