:root {
    /* Height of the navbar */
    --navbar-height: 76px;
}

.wrapper {
    padding-top: var(--navbar-height);
    display: flex;
    width: 100%;
    align-items: stretch;
}

#avatar {
    width: 30px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

#content {
    transition: margin-left ease-in-out 0.2s;
    margin-left: 350px;
    margin-right: 100px;
    margin-top: 30px;
    width: 100%;
}

#content-full {
    transition: margin-left ease-in-out 0.2s;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    width: 100%;
}

body {
    margin: 0px;
}

#github {
    line-height: 20px;
}

#LandingPageTable thead tr {
    background-color: #343a40;
    color: white;
}

#LandingPageTable tbody .dark td {
    border-bottom: 1px solid black;
}

#LandingPageTable tbody .light:nth-child(even) {
    background-color: #e0ebf1;
}

#LandingPageTable tbody .dark:nth-child(even) {
    background-color: #222;
}

#LandingPageTable tbody tr {
    cursor: pointer;
}

.jumbotron {
    margin-right: -100px;
    margin-left: -100px;
}

.fa-star,
.fa-star-o {
    color: yellow;
    text-shadow: 0 0 3px #000;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.icon {
    transition-duration: 0.5s;
}

.overflow-ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.reviewTable {
    flex: 20;
}

.lab-sticky {
    position: sticky;
    top: 100px;
    height: 90vh;
    padding: 0;
}

.reviewLabResult {
    overflow: scroll;
    overflow-y: scroll;
    height: 75vh;
}

.table-overflow {
    overflow-x: scroll;
    padding: 0;
}

.pending-review {
    box-shadow: inset 0 0 4px 2px #626280;
}

#group-image {
    width: 23px;
    margin-right: 10px;
    border-radius: 50%;
}

.about {
    width: 100%;
}

.redirectButton {
    position: absolute;
    top: 120px;
    transform: translateX(-70px);
}

.result-approved {
    background-color: #ccffcc;
    cursor: pointer;
}

.result-rejected {
    background-color: #ffcccc;
    cursor: pointer;
}

.result-revision {
    background-color: #ffffcc;
    cursor: pointer;
}

.result-mixed {
    background: linear-gradient(
        45deg,
        #ccffcc 33%,
        #ffffcc 33%,
        #ffffcc 66%,
        #ffcccc 66%
    );
    cursor: pointer;
}

.selected {
    border: 2px solid rgb(0, 123, 255);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5) inset;
}

.release {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, green 5px 0px 0px inset;
}

.clickable {
    cursor: pointer;
    :hover {
        text-decoration: none;
    }
}

/* Toast-style alerts container - fixed at top-right, below navbar */
.alerts-container {
    position: fixed;
    top: calc(var(--navbar-height) + 20px);
    right: 20px;
    z-index: 1050;
    max-width: min(400px, calc(100vw - 40px));
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;

    .alert {
        pointer-events: auto;
        margin: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        animation: slideIn 0.3s ease-out;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.bg-secondary {
    background: rgb(221, 223, 226) !important;
    color: slategrey;
}

.table td {
    padding: 0.5rem !important;
    font-family: monospace;
    white-space: nowrap;
}

.table th {
    padding: 0.5rem !important;
    font-family: monospace;
    white-space: nowrap;
}

.passed {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, green 5px 0px 0px inset;
}

.failed {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset, red 5px 0px 0px inset;
}

.not-graded {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px inset,
        rgba(0, 0, 0, 0.2) 5px 0px 0px inset;
}

.criteria-description {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.width-resize {
    min-width: 150px;
}

.navbar-top {
    height: var(--navbar-height);

    .nav-child {
        &.brand {
            display: flex;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            width: 15rem;

            & > * {
                margin-right: 0.5rem;
            }

            .hamburger {
                min-width: 30px;
                transition: color 0.2s ease-in-out;
                text-align: center;

                &.closed {
                    color: #d4d4d4;
                }

                &.open {
                    color: #28a745;
                }
            }
        }
    }
}

.navbar {
    .nav-item {
        &:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            display: none;
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: 980px) {
    .width-resize {
        width: 350px;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .lab-resize {
        padding-top: 15px;
    }
}

nav.flexbox {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    min-width: 36px;
    height: 24px;
    margin-top: 3px;
    margin-bottom: 0;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #28a745;

            & .toggleCircle {
                -webkit-transform: translateX(13px);
                -ms-transform: translateX(13px);
                transform: translateX(13px);
            }
        }

        &:not(:checked) + .slider {
            background-color: #007bff;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        .toggleCircle {
            font-family: "FontAwesome";
            font-size: 12px;
            position: absolute;
            content: "\f19d";
            text-align: center;
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
    }

    .slider.round {
        border-radius: 34px;

        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
        -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5) inset;

        & .toggleCircle {
            border-radius: 50%;
        }
    }
}

.comment {
    /* all children links should be white */
    a {
        color: red;

        &:hover {
            text-decoration: underline;
        }
    }

    background-color: #f7f7f9;
    height: 100%;

    td {
        position: relative;
        padding: 1rem;
        border-bottom: 1px solid #eaeaea;
    }

    td::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 0%;
        display: block;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.1);

        /* transition height on hover */
        transition: height 0.2s ease-in-out;
    }

    &.comment-passed {
        /* green */
        td::before {
            background-color: rgba(0, 128, 0, 0.3);
        }
    }

    &.comment-failed {
        /* red */
        td::before {
            background-color: rgba(255, 0, 0, 0.3);
        }
    }

    &.comment-not-graded {
        /* grey */
        td::before {
            background-color: rgba(128, 128, 128, 0.3);
        }
    }

    @media only screen and (max-width: 980px) {
        td::before {
            height: 50%;
        }
    }

    td:hover::before {
        height: 50%;
    }

    p {
        margin: 0;
    }

    .comment-md {
        padding: 1rem;
    }

    &.hidden {
        display: none;
    }
}

.word-break {
    word-break: break-word;
}

.td-center {
    align-content: center;
}

.submission-icon {
    width: 20px;
    text-align: center;
    color: slategray;
}

.grey {
    color: grey;
}

.hover-effect {
    &:hover {
        transform: scale(1.01);
    }

    transition: all 0.3s ease-in-out;
}

/* LoginPage specific styles */

.chevron-icon {
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    font-size: 1rem;
}
.nav-item.dropdown:hover .chevron-icon {
    transform: rotate(180deg); /* flips it upwards */
}

.fixed-width-score {
    width: 8ch;
    text-align: right;
}

.fixed-width-percent {
    width: 7ch;
    text-align: right;
}
