name: Test Coverage
on:
  push:
    branches: [master]
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Generate coverage report
        run: DOCKER_TESTS=1 go test -v -coverpkg=./... -coverprofile=profile.cov -covermode=atomic ./...

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          files: ./profile.cov
          flags: unittests
          name: codecov-umbrella
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
