name: Test Coverage
on:
  push:
    branches: [master]
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.25.5"]

    steps:
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true

      - name: Generate coverage report
        run: DOCKER_TESTS=1 go test -v -coverpkg=./... -coverprofile=profile.cov -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./profile.cov
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true
