name: Go Test

on:
  push:
    branches: [master]
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Run Go tests
        run: DOCKER_TESTS=1 go test -v github.com/quickfeed/quickfeed/...
