name: golangci-lint
on:
  push:
    branches: [master]
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.3"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout 5m
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true
